@model List<ViewParksSurveyViewModel>

@{
    ViewData["Title"] = "ViewParkSurvey";
}


<style>
    #verticalFlexContainer {
        display: flex;
        flex-direction: column;
    }

    .horizontalFlexContainer {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid mistyrose;
        flex-wrap: wrap;
    }

    .image {
        object-fit: contain;
        max-width: 300px; /*TODO*/
        padding-right: 40px;
    }

    .text {
        align-self: flex-start;
        max-width: 70%;
    }

    h3 {
        margin-top: 0px;
    }

    .horizontalFlexContainer {
        justify-content: space-between;
    }

    .horizontalFlexContainer:last-child {
        border: hidden;
        
    }

    #placeholder {
        width: 300px;
    }
</style>

<h2>Park Survey Results</h2>

<div id="verticalFlexContainer">

    <div class="horizontalFlexContainer">
        <h2 id="placeholder"></h2>
        <h2>Park Name</h2>
        <h2>Votes</h2>
    </div>

    @foreach (ViewParksSurveyViewModel mod in Model)
    {
        <div class="horizontalFlexContainer">
            <div>
                <a asp-controller="Park" asp-action="Detail" asp-route-id="@(mod.Park.ParkCode)"><img class="image" src="~/images/@(mod.Park.ParkCode).jpg" /></a>
            </div>
            <div class="text">
                <h3>@mod.Park.ParkName</h3>
            </div>
            <div>
                <h3>@mod.NumberOfSurveys</h3>
            </div>
        </div>
    }

</div>
