@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "List";
}
<style>
    #verticalFlexContainer{
        display: flex;
        flex-direction: column;
    }
    .horizontalFlexContainer{
        display: flex;
        padding: 20px;
        border-bottom: 1px solid mistyrose;
        flex-wrap: wrap;
    }
    .image{
        object-fit:contain;
        max-width:300px; /*TODO*/
        padding-right: 40px;
    }
    .text {
        align-self: flex-start;
        max-width: 70%;
    }
    h3 {
        margin-top: 0px;
    }
    .horizontalFlexContainer:last-child {
        border: hidden;
    }


</style>


<div id="verticalFlexContainer">
    @foreach (Park park in Model)
    {
        <div class="horizontalFlexContainer">
            <div >
                <a asp-controller="Park" asp-action="Detail" asp-route-id="@park.ParkCode"><img class="image" src="~/images/@(park.ParkCode).jpg" /></a>
            </div>
            <div class="text">
                <h3>@park.ParkName</h3>
                <p>@park.ParkDescription</p>
            </div>
        </div>
    }

</div>
