@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "List";
}
<style>
    #verticalFlexContainer{
        display: flex;
        flex-direction: column;
    }
    .horizontalFlexContainer{
        display: flex;
    }
    .image{
        object-fit:contain;
        max-width:300px; /*TODO*/
    }


</style>


<div id="verticalFlexContainer">
    @foreach (Park park in Model)
    {
        <div class="horizontalFlexContainer">
            <div >
                <img class="image" src="~/images/@(park.ParkCode).jpg" />
            </div>
            <div>
                <p>@park.ParkName</p>
                <p>@park.ParkDescription</p>
            </div>
        </div>
    }

</div>
